<header class="bg-indigo-800 p-4">
    <div class="mx-auto flex justify-between items-center flex-wrap h-20">
        <a href="/products"><img src="/static/logo/logo2.png" alt="Logo del comercio"  class="h-20"></a>
        <nav class="">
            <a class= "py-3 px-3 text-red-100" href="/admin">Administrador</a>
            <a class= "py-3 px-3 text-red-100" href="/products">Inicio</a>
            {{#if usuario}}
            <a href="/auth/logout" class= "py-3 pl-3 pr-10 text-red-100">Cerrar sesion</a>
            {{else}}
            <a href="/auth/login" class= "py-3 pl-3 pr-10 text-red-100">Iniciar sesion</a>
            {{/if}}
        </nav>
    </div>
</header>

<main>
    {{#if err.length}}
    <div class="max-w-md mx-auto my-10 alertas">
        {{#each err}}
            <p class="bg-red-600 text-white uppercase text-xs text-center p-2 mb-1 font-bold rounded-md">{{this}}</p>
        {{/each}}
    </div>
    {{/if}}
    {{#if msg.length}}
    <div class="max-w-md mx-auto my-10 alertas">
        {{#each msg}}
            <p class="bg-green-600 text-white uppercase text-xs text-center p-2 mb-1 font-bold rounded-md">{{this}}</p>
        {{/each}}
    </div>
    {{/if}}
    <h3 class="text-4xl text-center font-light my-5">{{nombrePagina}}</h3>
    <div class=" flex-column justify-between items-center flex-wrap m-10 space-y-4 p-8 pt-5 px-5 shadow-lg">
    {{#if productos}}
    <div class="font-mono text-center text-sm font-medium">Orden: {{carrito._id}}</div>
    <div class="text-center text-sm font-medium">Total de productos: {{totalProds}}</div>
        <div class="panel-carrito bg-white shadow rounded-lg gap-y-5 py-15">
            <div class="divide-y divide-gray-200">
            {{#each productos}}
                <div class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 md:space-y-0 gap-4">
                        <a href="/products/{{this._id}}" class="sm:w-2/5 md:w-3/8 block text-2xl font-semibold text-indigo-800">{{this.titulo}}</a>
                        <div class="text-sm font-medium sm:w-1/5 md:w-2/8 ">
                        <p>Disponible: {{this.stock}}</p>
                        </div>
                        <p class="text-sm font-medium sm:w-1/5 md:w-1/8 ">Precio: ${{this.precio}}</p>
                        <a href="#" data-eliminar="{{this._id}}" class="sm:w-1/5 md:w-2/8 w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer bg-red-100 text-red-800 text-center">Eliminar</a>
                </div>
            {{/each}}
            </div>
            <div class="text-center text-sm font-medium py-5">Valor total de la compra: ${{valorTotal}}</div>

        </div>
        <div class="m-2 mb-20 grid justify-items-stretch">
            <a href="#" class="vaciar-carrito justify-self-end px-10 py-1 md:py-3 text-sm font-semibold rounded cursor-pointer bg-red-100 text-red-800 text-center">Vaciar Carrito</a>
        </div>
    {{else}}
        <h3 class="text-xl text-center font-semibold">Todavía no agregaste nada al carrito</h3>
    {{/if}}

    </div>
</main>
<script src="/static/js/products.js"></script>
