<header class="bg-indigo-400 p-4">
    <div class="mx-auto flex justify-between items-center flex-wrap ">
        <a href="/products" class="text-4xl text-center font-medium font-mono">BookStore</a>
        <nav>
            <a class= "py-3 px-3" href="/admin">Administrador</a>
            <a class= "py-3 px-3" href="/carts">Carrito</a>
            {{#if usuario}}
            <a href="/auth/logout" class= "py-3 pl-3 pr-10">Cerrar sesion</a>
            {{else}}
            <a href="/auth/login" class= "py-3 pl-3 pr-10">Iniciar sesion</a>
            {{/if}}
        </nav>
    </div>
</header>

<main>
    <h3 class="text-4xl text-center font-light my-5">{{titlePage}}</h3>
    <div class="bg-white shadow rounded-lg md:m-5 m-15">
        {{#if producto}}
            {{#each producto}}        
                <div class="px-5 py-10 space-y-5">
                    <h4 class="text-lg font-semibold mb-3">{{this.title}}</h4>
                    <p class="text-sm text-gray-600 mb-3">Description: 
                        <span class="text-gray-800 font-medium">{{this.description}}</span>
                    </p>
                    <p class="text-sm text-gray-600 mb-10">Price:  
                        <span class="text-gray-800 font-medium">${{this.price}}</span>
                    </p>
                    <button id={{this._id}} class="buttonDetalle bg-indigo-600 p-2 rounded text-center text-white">Agregar al carrito</button>
                </div>
            {{/each}}
        {{else}}
        <h3 class="text-4xl text-center font-semibold">No se encontro el producto</h3>
        {{/if}}
    </div>
    <div class="text-gray-600 text-xs underline text-center">
        <a href="/products/">Volver a Inicio</a>
    </div>
</main>
<script src="/static/js/products.js"></script>