<h1 class="text-4xl text-center font-semibold">{{titlePage}}</h1>
<div class="mt-5 mx-auto max-w-md my-5">
    {{#if products}}
        <ul>
        {{#each products}}
            <li>
            {{#each this}}
                <span class="flex">{{title}}</span>
                <span class="flex">{{description}}</span>
                <span class="flex">${{price}}</span>
                <button class="bg-indigo-600 p-2 rounded text-center text-white" onclick="verDetalle(_id)">Detalle</button>
            {{/each}}
            </li>
            
        {{/each}}
        </ul>
    {{else}}
    <h3>There are no product available</h3>
    {{/if}}
</div>
<script src="/static/js/products.js"></script>